.hero-unit
  %h1 SMS 2 Bus
  %p
    SMS 2 bus is a real time bus arrival notification system using SMS.

%p This system currently interfaces with transit systems that utilize <a href='http://www.connexionz.co.nz/' target="_blank">Connexionz</a>
%h3 How to Use
%p Send a text message with the 5 digit bus stop number
%img{:src => 'sms_sample_sc.png'}/
%br
%br
%h3 Transit Agencies
%ul
  %li City of Santa Clarita -  Text the bus stop number to 585-326-0523 (example 10279)
